{% extends 'DualBundle:layout:base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dual_index') }}">Dual</a>
        </nav>

    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-2">
                {{ render(path('dual_layout_sidebar')) }}
            </div>
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}