{% extends 'DualBundle:layout:default.html.twig' %}

{% block content %}
    <h2>{{ meta.getName() }}</h2>

    {% include 'DualBundle:common:entity-menu.html.twig' %}
    {% include 'DualBundle::data/display.html.twig' %}

{% endblock %}