{% if multiple %}
    <h3>Select one or many entities</h3>
{% else %}
    <h3>Select one entity</h3>
{% endif %}

<form class="select-form">
    {% include 'DualBundle::data/display.html.twig' with {'select': true} %}
    <input type="submit" class="btn btn-primary btn-lg" value="Ok">
</form>